:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);
  /* background: url('/background.jpg') center/cover no-repeat; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 3.2em;
  margin: 0;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }
}

.bounce {
  animation: bounce 0.6s;
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #ff6b6b;
  border-radius: 50%;
  filter: blur(0px);
  mix-blend-mode: soft-light;
  animation: pulse 6s ease-in-out infinite;
  box-shadow: 0 0 120px currentColor;
  z-index: -1;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1) translate(50px, 0px);
    border-radius: 50%;
    opacity: 0.9;
  }

  50% {
    transform: scale(1.2) translate(50px, -20px);
    border-radius: 40% 60% 55% 45%;
    opacity: 1;
  }
}